<div id="instagram-container" class="instagram-container">
    {% for hash in include.hash %}
    <a href="https://www.instagram.com/p/{{ hash }}/">
        <img src="https://instagram.com/p/{{ hash }}/media/" />
    </a>
    {% endfor %}
</div>