/** General **/

html, body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.15;
}

header.site-header {
    padding: 10px 50px;
}

main {
    padding: 0 50px;
    max-width: 700px;
}

h1.page-heading {
    padding: 30px 0 0;
    margin: 0;
}

/** For the post page **/

h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

ul.post-list {
    padding-left: 0;
    column-count: 3;
    column-gap: 10px;
}

ul.post-list li {
    list-style-type: none;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid-column;
}

ul.post-list li a {
    display: block;
}

ul.post-list li img {
    width: 100%;
    padding-top: 10px;
}

header.post-header h1 {
    margin: 0;
}

@media (max-width: 450px) {
    ul.post-list {
        column-count: 1;
    }
}

@media (min-width: 450px) and (max-width: 768px) {
    ul.post-list {
        column-count: 2;
    }
}

/** For the homepage **/

.instagram-container a {
    margin: 10px;
    display: block;
}

.instagram-container a img {
    max-height: 180px;
}

@media (max-width: 768px) {
    .instagram-container {
        display: flex;
        overflow: scroll;
    }

    .instagram-container a:first-child {
        margin-left: 0;
    }

    .instagram-container a:last-child {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    div.post-images {
        float: right;
    }
}