<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
      <title>John's Recipes - {{ page.title }}</title>
  </head>

  <body>
    {%- assign url = page.url | trim -%}
    {% if url != '/' %}
    <header class="site-header">
      <a href="{{ "/" | relative_url }}">back to Recipes</a>
    </header>
    {% endif %}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
  </body>
</html>