---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>Recipes</h2>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}

      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <div>
            {{ post.title | escape }}
            {% if post.instagram_hashes[0] %}
            <div class="post-image">
              <img src="https://instagram.com/p/{{ post.instagram_hashes[0] }}/media/" />
            </div>
            {% endif %}
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>