---
layout: default
---

<article class="post h-entry">
  <header class="post-header">
    <h1>{{ page.title | escape }}</h1>
  </header>

  <div class="post-images">
      {% include instagram.html hash=page.instagram_hashes %}
  </div>

  {{ content }}
</article>